[submodule "lib/http-client"]
	path = lib/http-client
	url = https://github.com/erikd/http-client
[submodule "lib/tls"]
	path = lib/tls
	url = https://github.com/erikd-ambiata/hs-tls
[submodule "lib/connection"]
	path = lib/connection
	url = https://github.com/erikd-ambiata/hs-connection
